*.js
*.json
*.md
*.mdx
*.css
*.scss
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.mp4
*.webm
*.wav
*.mp3
*.m4a
*.aac
*.oga
.next/
node_modules/
public/
build/
dist/
coverage/
storybook-static/
